* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: #333;
    display: flex;
    flex-direction: column;
    text-align: center;
    object-position: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

#start, #end-screen {
    margin: 200px auto;
    padding: 40px;
    background-color: #f4f4f4;
    width: 50%;
    border-radius: 25px;
}

#inst-title {
    font-size: 18px;
    font-weight: bold;
}

#start ul {
    list-style-type: none;
    padding: 0;
}

#canvas {
    margin: 70px auto;
    background: #072e06;
}

#start-btn, #end-btn {
    display: inline-block;
    padding: 15px 25px;
    margin: 20px auto;
    font-size: 20px;
    text-transform: capitalize;
    border: 2px solid #05b905;
    color: #f4f4f4;
    background-color: #072e06;
    font-weight: bold;
    cursor: pointer;
}

